[flake8]
max-line-length = 88
extend-ignore = F401,F841,E722,C901,E501,E203,E402,F541,F811
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    .eggs,
    *.egg
per-file-ignores =
    tests/*:F401,F841,F811
    */__init__.py:F401
