[flake8]
max-line-length = 79
extend-ignore = E203
exclude =
    .git,
    __pycache__,
    build,
    dist,
    *.egg-info,
    venv
per-file-ignores =
    # Allow longer lines in test files
    tests/*: E501
max-complexity = 15